
<h1>account setting</h1>
<small>weljiojo</small>
<small>weferfee4ef</small>
<small>fres</small>
<div style="height: 70%;">
    <div class="box">
        <div class="row"><button mat-stroked-button class="btn-width" style="text-align: left;width: 100%;">Profile</button></div>
        <div class="row"> <button mat-stroked-button class="btn-width" style="text-align: left;">Billig&plan</button></div>
        <div class="row"><button mat-stroked-button class="btn-width" style="text-align: left;">Security</button></div>
    </div>
    <div class="box1" style="height: 50%;">
        <h3><strong>Billing Information</strong> </h3>
     <mat-card>  <table>
           
               <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td></td>
                    <td style="color: blue;">Country3dd2</td>
                </tr>
           
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td style="color: blue;">Country32</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td></td>
              <td style="color:blue;">Countryee</td>
            </tr>
        </table>  
     </mat-card>  
      



        </div>
    </div>
  
