 <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened style="width: 50%;">
        <div class="row">
            <div class="col">  <button mat-stroked-button class="btn-width">Profile</button></div>
        </div>
        <div class="row">
            <div class="col">  <button mat-stroked-button class="btn-width">Billing & plan</button></div>
        </div>
        <div class="row">
            <div class="col">  <button mat-stroked-button class="btn-width">Security</button></div>
        </div>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>  -->

<!-- style="width: 100%;height: 100%;" -->


 <!-- <div style="padding-left: 5%;">
    <div class="row">
        <div class="col-3"><mat-card  style="height: 250%;">
            <div class="row">
                <div class="col">  <button mat-stroked-button class="btn-width">Profile</button></div>
            </div>
            <div class="row">
                <div class="col">  <button mat-stroked-button class="btn-width">Billing & plan</button></div>
            </div>
            <div class="row">
                <div class="col">  <button mat-stroked-button class="btn-width">Security</button></div>
            </div>
        </mat-card>
    </div>



        <div class="col-7"><mat-card>Simple card</mat-card></div>
    </div>
</div>   -->
<div class="row">
    <div class="col"  style="height: 50%;"><div class="line">
 
        <button mat-stroked-button class="btn-width">Profile</button>
        <button mat-stroked-button class="btn-width">Profile</button>
        <button mat-stroked-button class="btn-width">Profile</button>
    
   
</div></div>
    <div class="col"></div>

</div>
