/* .row{
    width: 100%;
} */

.btn-width{

    width: 97%;
    height: 10%;
    
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    
  }
  .bttn{
      
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

/* .line{
    width: 300px;
    border: 1px solid rgb(219, 218, 218);

    margin: 20px;
    height: 150%;
    
}
.example-container {
  
    height: 95vh;
    margin: 10px;
    border: 1px solid #555;
  } */

  * {
    box-sizing: border-box;
   
  }
  
  .box {
    float: left;
    width: 20%;
 height: 70%;

    /* padding: 50px; */
    border: 1px solid black;
  }
  .box1 {
    float: left;
    width: 80%;
    border: 1px solid black;
    padding: 50px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
  }