<div class="row" >
    <div class="col" style="padding: 200px 0px 0px 230px;">  <img src="../../assets/new_-removebg-preview.png"></div>
    <div class="col" style="padding: 400px 0px 0px 230px;" >
        <div class="row">
            <mat-form-field  class="example-full-width" appearance="outline">
                <mat-icon matPrefix>person_outline</mat-icon>
                 <input matInput
                  type="email"
                  tabindex="1"
                  placeholder="Your Name"
                  formControlName="email">
               </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field  class="example-full-width" appearance="outline">
                <mat-icon matPrefix>person_outline</mat-icon>
                 <input matInput
                  type="email"
                  tabindex="1"
                  placeholder="Your Login or Email"
                  formControlName="email">
               </mat-form-field>
        </div>
       <div class="row">
        <mat-form-field  class="example-full-width" appearance="outline">
            <mat-icon matPrefix>star_border</mat-icon>
             <input matInput
              type="email"
              tabindex="1"
              placeholder="password"
              formControlName="email">
           </mat-form-field>
       </div>
       <div class="row">
        <div class="col-2" >
            <a href=""class="forget" routerLink="/Login"><small>Login</small> </a>
        </div>
        <div class="col-3">
            <a href="" class="forget"><small></small> </a>
        </div>
        <div class="col-3"><button mat-button style="color: white;background-color: rgb(69, 212, 165);" routerLink="/Register">Register</button>
        </div>
        <div class="row" style="padding-top: 20%;">
            <div class="col-sm-4"><small>Login with</small> </div>
            <div class="col-sm-1"><a href="" style=" text-decoration: none;  color:rgb(150, 194, 150);"><small>Google+</small> </a></div>
            <div class="col-sm-1"><a href="" style=" text-decoration: none;  color:rgb(150, 194, 150);"><small>Twitter</small> </a></div>
            <div class="col-sm-1"><a href="" style=" text-decoration: none; color:rgb(150, 194, 150);"><small>Facebook</small> </a></div>

        </div>
    </div>
    </div>

</div>







